/***
 * Bootstrap Variables
 ***/

$primary: #cc0000 !default;
$secondary: #6c757d !default; // = $gray-600

/*
$custom-color: #00ff00;
$theme-colors: () !default;
$theme-colors: map-merge((
  "custom-color":    $custom-color,
), $theme-colors);
*/

/***
 *AdminLTE Variables
 ***/

$sidebar-width: 300px !default;
